
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

img:not(.logo):not(.legend) {
    image-rendering: pixelated;
}

.search_link {
  color: blue;
  text-decoration: underline;
}

.opacity_control {
  border: 2px solid gray;
  background-color:white;
  width:250px;
  display:inline;
  float: right;
}

#date_picker {
  border: 2px solid gray;
  background-color:white;
  display:inline;
  float: right;
  width:250px;
}

#layers {
  width: fit-content;
  height: fit-content;
}

#layer_body {
  min-width: 400px;
  height: 400px;
  border: 10px solid lightgray;
  border-radius: 5px;
  background-color: lightgray;
}

#layer_column {
  margin-right: 20px;
}

.legend {
  width:300px;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: -30px;
  padding-bottom: -30px;
}

#legend_table_div {
  max-height: 300px;
  overflow: scroll;
}

#beta_button {
  margin-right: 10px;
}

#map { position: absolute; top: 80px; bottom: 80px; left: 0px; right: 0px; }

.navbar {
  z-index: 1000;
}

#layers {
  position: relative;
  margin-top: 100px;
}

#slider_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dropdown-submenu {
  position: relative;
}

