
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

img:not(.logo):not(.legend) {
    image-rendering: pixelated;
}

.search_link {
  color: blue;
  text-decoration: underline;
}

.opacity_control {
  border: 2px solid gray;
  background-color:white;
  width:250px;
  display:inline;
  float: right;
}

#date_picker {
  border: 2px solid gray;
  background-color:white;
  display:inline;
  float: right;
  width:250px;
}

#layers {
  width: 400px;
  top: 80px;
  bottom: 90px;
  left: 10px;
  right: auto;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
}

#layer_body {
  min-width: 400px;
  flex-grow: 1;
  border: 10px solid lightgray;
  border-radius: 5px;
  background-color: lightgray;
}

#layer_column {
  margin-right: 20px;
}

.legend {
  width:300px;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: -30px;
  padding-bottom: -30px;
}

#legend_table_div {
  max-height: 300px;
  overflow: scroll;
}

#beta_button {
  margin-right: 10px;
}

#removeArea {
  margin-right: 10px;
}

#map { position: absolute; top: 80px; bottom: 90px; left: 420px; right: 10px; }

.navbar {
  z-index: 1000;
}

#slider_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.dropdown-submenu {
  position: relative;
}

.legend_min {
  width: 10%;
  text-align:center;
}

.legend_max {
  width: 10%;
  text-align:center;
}

.legend_colourbar {
  width: 70%;
}