html, body {
    width: 100%;
}

#time_slider_range {
    width: 100%;
    border: 1px solid black;
}

#time_slider_range::-webkit-slider-runnable-track {
  background: lightgray;
}

input[type="date"] {
    padding: 0px;
    margin: 0px;
    min-width: 120px;
    height: 50px;
}

button {
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.time_slider {
    display: flex;
    flex-direction: row;
    flex-basis: fit-content;
    column-gap: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.slide_container {
    flex-grow: 1;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
}